.row {
    display: flex;
    margin: 4px 0;
}

.cell {
    display: flex;
    width: 64px;
    height: 64px;
    border: 2px solid black;
    margin: 0 2px;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    cursor: pointer;
    /* курсор не меняет вид */
    user-select: none;
    /* текст не выделяется */
}

#btn-close {
    width: 206px;
    margin-top: 30px;
    margin-left: 4px;
    font-size: 30px;
    background-color: tomato;
    color: green;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
